.question-side {
    font-size: 48px;
}

hr {
    border: none;
    border-bottom: 1px solid #999;
}

ruby rt {
    color: #DDD;
    background: #DDD;
    border: 1px solid #CCC;
    border-radius: 10px;
}

ruby:hover rt {
    color: #333;
    background: none;
    border-color: transparent;
}

#fs ruby rt {
    color: inherit !important;
    background: transparent !important;
    border: none !important;
}

.card {
    color: #333;
    background-color: #EEE;
    font-size: 25px;
    font-family: 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Arial, sans-serif;
    text-align: center;
}

/* Night Mode CSS */
.nightMode hr {
    border-color: #555;
}

.nightMode ruby rt {
    color: #333;
    background: #333;
    border-color: #444;
}

.nightMode ruby:hover rt {
    color: #CCC;
    background: none;
    border-color: transparent;
}

.nightMode.card {
    color: #CCC;
    background-color: #222;
}
